<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
           <img src="assets/img/A-64.png" alt="Bootstrap" width="30" height="24">
          </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <!--Home-->
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="page" [routerLink]="['home']">Home</a>
          </li>
          
          <!--Rutas-->
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['rutas']">Rutas</a>
          </li>
          
          <!--seguro-->
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['buscar']">Buscar</a>
          </li>


          <!--About-->
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['quienessomos']">Quienes somos</a>
          </li>



        </ul>
        <div style="text-align: center;">
        <div *ngIf="auth.user$ | async as profile"  >
          <p style="color: blue;">Bienvenido: {{profile.given_name}} {{profile.family_name}}</p>
        </div>

        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut" >
          <button (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
            Log out
          </button>
        </ng-container>

      </div>
    
        <ng-template #loggedOut>
          <button (click)="login()">Log in</button>
        </ng-template>



        
      </div>
    </div>
  </nav>
