<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <title>Document</title>
  <style>
    .centered-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .texto-blanco {
      color: white;
    }
  </style>
</head>
<body>
  <div class="centered-container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="card bg-dark text-white p-4">
            <!-- Imagen circular -->
            <div style="position: relative; width: 100%; margin: auto;">
              <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwS-vNMmZZF6qL2uNm3HsDo__raDyjD2sqxg&s">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwS-vNMmZZF6qL2uNm3HsDo__raDyjD2sqxg&s" alt="Imagen de cómics" style="width: 100%;">
              </a>
            </div>
            
            <!-- Nombre -->
            <h2 class="animate__animated animate__wobble texto-blanco">Quienes somos</h2>
            <!-- Biografía -->
            <p class="animate__animated animate__fadeInLeft texto-blanco">La Cooperativa de Transporte Rutas Orenses es una empresa formada por la integración de conductores profesionales en la localidad de Machala, provincia del Oro en Ecuador. Fue fundada en abril del año 1978. Desde entonces se ha dedicado a prestar servicios como medio de transporte a nivel interprovincial en la Provincia del Oro, siendo una cooperativa de referencia y una de las más utilizadas por los usuarios (nacionales y turistas) al momento de transitar por las rutas que cubre esta empresa.</p>
            <p class="text-justify"><br></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
